@model WebApplication4.Areas.Painel.Models.Pessoa

<div id="DadosUsuario">
    <p>Marcos Vincius</p>
    <a href="~/Painel/Inicio/Index">Sair</a>
    <p>@Html.DisplayFor(model => model.Nome)</p>
</div>
<h2 style="text-align:center">Painel do Usuario</h2>
<a href="~/Empresa/AEmpresa/CadastroEmpresa" style="border:double;padding:10px;text-align:center">Cadastrar Empresa</a>

<section id="tabela">
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Opçoes</th>
        </tr>
        <tr>
            <td>Empresa Memes</td>
            <td>000-00000</td>
            <td>AV Rondonia</td>
            <td>
                <a href="~/Empresa/AEmpresa/EditarEmpresa"><img src="~/Content/lp.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/DeletarEmpresa"><img src="~/Content/x.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/cd.png" width="20" height="20"></a>
            </td>
        </tr>
        <tr>
            <td>Empresa Memes</td>
            <td>000-00000</td>
            <td>AV Rondonia</td>
            <td>
                <a href="~/Empresa/AEmpresa/EditarEmpresa"><img src="~/Content/lp.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/DeletarEmpresa"><img src="~/Content/x.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/cd.png" width="20" height="20"></a>
            </td>
        </tr>
        <tr>
            <td>Empresa Memes</td>
            <td>000-00000</td>
            <td>AV Rondonia</td>
            <td>
                <a href="~/Empresa/AEmpresa/EditarEmpresa"><img src="~/Content/lp.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/DeletarEmpresa"><img src="~/Content/x.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/cd.png" width="20" height="20"></a>
            </td>
        </tr>
        <tr>
            <td>Empresa Memes</td>
            <td>000-00000</td>
            <td>AV Rondonia</td>
            <td>
                <a href="~/Empresa/AEmpresa/EditarEmpresa"><img src="~/Content/lp.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/DeletarEmpresa"><img src="~/Content/x.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/cd.png" width="20" height="20"></a>
            </td>
        </tr>
        <tr>
            <td>Empresa Memes</td>
            <td>000-00000</td>
            <td>AV Rondonia</td>
            <td>
                <a href="~/Empresa/AEmpresa/EditarEmpresa"><img src="~/Content/lp.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/DeletarEmpresa"><img src="~/Content/x.png" width="20" height="20" /></a>
                <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/cd.png" width="20" height="20"></a>
            </td>
        </tr>
       
    </table>
</section>
