@model WebApplication4.Areas.Painel.Models.Pessoa
<h2 style="text-align:center">Painel Administrativo</h2>
@Html.ValidationSummary()
<form action="" method="post" id="painelLogin">


    <label for="Nome" id="Nome">Nome</label>
    <input type="text" name="Nome" value=""  />
    <br />
    <br />
    <label for="Senha" id="Senha">Senha</label>
    <input type="password" name="Senha" value=""  />
    <button type="submit" id="bt">Acessar</button>
    
    <a href="~/Home/Index">Voltar</a>
</form>
