body
 {
   font-family:'Meiryo UI';
    background-color:#8d1992;
}
footer
{
    margin:300px;
    text-align:center;
    color:#50d314;
}
#option
{

float:left;
margin-left:70px;
}
a
{
    text-decoration:none;
    color:#e7f1f0;
}
a:hover
{
    color:#1def3b;
}
#seach
{
    margin-left:210px;
}
#pesquisa
{
   color:#e3f30c;
   text-align:center;
}
footer
{
float:inherit;
}
#painelLogin{
    padding:50px;
    background-color:#988989;
    position:fixed;
    margin:100px 500px ;
}
fieldset
{
    position:fixed;
}
#tabela
{  
   margin:100px 400px;
}

td
{
    color:#dcdad1;
    padding:10px;
}
#DadosEmpresa
{
    margin:100px 300px ;
    font-size:20px;
}

#resultado{
    padding:10px;
    margin:20px;
    float:left;
}
p{
    color:#e4cdcd;
}
#login
{
    margin-left:1200px;
}
#DadosUsuario
{
    margin-left:1200px;
}