<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/cssSite.css" rel="stylesheet" />
</head>
<body>
    <img src="~/Content/images.png" width="100" height="50"/>
    <div id="login"><a href="~/Painel/Inicio/Index">Login</a></div>
    <section id="seach">
        <form action="" method="post">
            <label id="pesquisa">Pesquisa</label><br>
            <input type="text" name="pesquisa" value="" style="width:60%" />
            <button type="submit">Buscar</button>
        </form>
    </section>
        @RenderBody()
    <footer><small>site empresas 2014</small></footer>
</body>    
</html>