
<h2>CadastroEmpresa</h2>
<form action="" method="post" style="margin:200px 500px">
        <label id="Nome">Nome</label><br />
        <input type="text" name="Nome" value="" style="width:90%"/>
        <br />
        <label id="Area">Area</label> <br />       
    <input type="text" name="Area" value="" style="width:90%" />
        <br />
        <label id="Descricao">Descricao</label><br />
    <input type="text" name="Desc" value="" style="width:90%" />
    <br />
    <button type="submit">Cadastrar</button>
    <a href="~/Painel/Inicio/DadosCadastrais">Cancelar</a>

</form>