

<form>
    <p>
        <img src="~/Content/business.jpf.png" width="300" height="200" style="float:left;padding:initial;" />
        Nome:Empresa  Memes<br />
        Telefone:69 0000-0000<br />
        Av:Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    </p>
    <p>deseja realmente excluir essa empresa?</p>
    <button type="submit">Excluir</button>
    <a href="~/Painel/Inicio/DadosCadastrais">Voltar</a>
</form>
