<form action="" method="post" style="margin:200px 500px">
    <label id="Nome">Nome</label><br />
    <input type="text" name="Nome" value="Empresa Memes" style="width:90%" />
    <br />
    <label id="Area">Telefone</label> <br />
    <input type="text" name="Area" value="0000-0000" style="width:90%" />
    <br />
    <label id="Descricao">Endereço</label><br />
    <input type="text" name="Desc" value="Av Rondonia" style="width:90%" />
    <br />
    <button type="submit">Editar</button>
    <a href="~/Painel/Inicio/DadosCadastrais">Cancelar</a>

</form>
