
<p>Detalhes da Empresa</p>
<form id="DadosEmpresa">
    <p>
        <img src="~/Content/business.jpf.png" width="300" height="200" style="float:left;padding:5px;" />
        Nome:Empresa  Memes<br />
        Telefone:69 0000-0000<br />
        Av:Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    </p>
</form>
