
    <div id="option">

        <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/business.jpf.png" width="150" height="150" /></a>
        <p>Nome:empresa memes <br>
            Telefone:69 0000-0000<br />
            Av:Avenida Rondonia </p>
    </div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/business.jpf.png" width="150" height="150" /></a>
    <p>
        Nome:empresa memes <br>
        Telefone:69 0000-0000<br />
        Av:Avenida Rondonia
    </p>
</div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/business.jpf.png" width="150" height="150" /></a>
    <p>
        Nome:empresa memes <br>
        Telefone:69 0000-0000<br />
        Av:Avenida Rondonia
    </p>
</div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/business.jpf.png" width="150" height="150" /></a>
    <p>
        Nome:empresa memes <br>
        Telefone:69 0000-0000<br />
        Av:Avenida Rondonia
    </p>
</div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/business.jpf.png" width="150" height="150" /></a>
    <p>
        Nome:empresa memes <br>
        Telefone:69 0000-0000<br />
        Av:Avenida Rondonia
    </p>
</div>
